<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Sitios Visitados{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/sites_page.css' %}">
    <link rel="icon" href="{% static 'images/Lucier.ico' %}" type="image/x-icon">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script>
        const geojsonUrl = "{% url 'sites:sites_geojson' %}";
    </script>
    <script src="{% static 'js/map.js' %}" defer></script>

    <script src="{% static 'js/siteListArrows.js' %}" defer></script>
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="{% url 'core:home_page' %}">
                <img src="{% static 'images/Lucier.png' %}" alt="Logo Lucier" class="logo">
            </a>
        </div>
        <div class="header-content">
            <h1>Sitios donde hemos estado</h1>
            <p>Aquí puedes ver todos los lugares en los que hemos estado y añadir los nuevos a donde vayamos.</p>
        </div>
    </header>

    <div class="main-container">
        <div class="back-button-container">
            <a href="{% url 'core:home_page' %}" class="btn-back" aria-label="Volver a la lista de sitios">&#8592;</a>
        </div>
        <main class="main-content">
            <div id="add-site-container" class="add-site-container">
                <a href="{% url 'sites:new_site' %}" class="btn-add">
                    <button type="button" onclick="ocultar()">Añadir Nuevo Sitio</button>
                </a>
            </div>
            
            <div class="sites-container-wrapper">
                <button id="left" class="scroll-btn left">&#8592;</button>
                <div class="sites-container">
                    {% for site in sites %}
                    <div class="site-card">
                        <a href="{% url 'sites:site_details_page' pk=site.pk %}">
                            <h2>{{ site.name }}</h2>
                            <p>{{ site.description }}</p>
                            <p><strong>Fechas:</strong> {{ site.start_date|date:"j F Y" }} al {{ site.end_date|date:"j F Y" }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <button id="right" class="scroll-btn right">&#8594;</button>
            </div>

            <div class="map-container">
                <div id="map"></div>
            </div>
        </main>
    </div>

    <footer class="footer">
        <p>&copy; 2024 Lucier <span style="color: #C71585;">❤</span></p>
    </footer>
</body>
</html>