* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ocupa al menos el 100% del alto de la pantalla */
    display: flex;
    flex-direction: column; /* Permite organizar header, main y footer en una columna */
}

.main-container {
    flex: 1; /* Hace que el main ocupe todo el espacio restante */
    display: flex;  /* Flexbox para centrar contenido */
    flex-direction: column;  /* Alinear en columna */
    justify-content: center;  /* Centrar verticalmente */
    align-items: center;  /* Centrar horizontalmente */
    background-color: rgb(245, 190, 207);  /* Fondo claro */
    min-height: calc(100vh - 160px);
    overflow: hidden; /* Evita desbordamientos */
}

.main-content{
    padding-top: 30px;
    padding-bottom: 60px;
}

.header {
    background-color: rgb(197, 115, 139); /* Rosa fuerte */
    color: rgb(164, 0, 55);
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 150px; /* Puedes ajustar la altura según lo desees */
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 2rem; /* Tamaño del título */
}

.header-content p {
    font-size: 1.2rem; /* Tamaño de la descripción */
}

.logo-container {
    position: absolute; /* Lo coloca en la esquina */
    top: -25px; /* Ajusta la distancia desde el top */
    left: 20px; /* Ajusta la distancia desde la izquierda */
}
    
.logo {
    width: 200px; /* Ajusta el tamaño del logo */
    height: auto;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-shrink: 0; /* Evita que el footer se encoja */
    text-align: center; /* Centra el texto del footer horizontalmente */
}

.footer p {
    font-size: 1rem;
    margin: 0;
}

/* Estilo del formulario */
.new-trip-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Usa el ancho completo del contenedor */
    max-width: 600px; /* Límite máximo para pantallas grandes */
    margin: 0 auto; /* Centrado */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Estilo de los campos del formulario */
.new-trip-form input,
.new-trip-form textarea,
.new-trip-form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

.new-trip-form input:focus,
.new-trip-form textarea:focus,
.new-trip-form select:focus {
    border-color: #c71585; /* Color en foco */
}

/* Botón de guardar */
.new-trip-form button[type="submit"] {
    background-color: #c71585; /* Color principal */
    color: #ffffff; /* Texto blanco */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.new-trip-form button[type="submit"]:hover {
    background-color: #a01068; /* Color más oscuro al pasar el mouse */
    transform: translateY(-3px); /* Efecto de elevación */
}

/* Pop-up */
.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: none; /* Oculto por defecto */
    z-index: 1000;
    text-align: center;
    animation: fade-in 0.5s ease-in-out;
}

.pop-up.success {
    border: 2px solid #ff35c6; /* Verde para éxito */
}

.pop-up.error {
    border: 2px solid #dc3545; /* Rojo para error */
}

.pop-up button {
    background-color: #c71585;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

/* Contenedor de la pestaña */
.uploadProgressContainer {
    position: fixed;
    bottom: 40px;
    right: 10px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #f8f9fa; /* Fondo claro */
    border: 1px solid #dee2e6; /* Borde gris */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    display: none; /* Oculto por defecto */
}

/* Encabezado de la pestaña */
.uploadProgressContainer:before {
    content: "Subiendo archivos...";
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #495057;
}

/* Contenedor de cada archivo */
.progress-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Información del archivo (nombre) */
.file-info {
    flex: 1;
    font-size: 12px;
    color: #343a40;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}

/* Barra de progreso */
.progress-bar {
    flex: 2;
    background-color: #e9ecef;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.progress-bar span {
    display: block;
    height: 100%;
    background-color: #17a2b8; /* Azul claro */
    width: 0%;
    transition: width 0.3s ease;
}

/* Iconos de estado */
.success-icon {
    color: #28a745; /* Verde */
    font-size: 14px;
    margin-left: 10px;
}

.error-icon {
    color: #dc3545; /* Rojo */
    font-size: 14px;
    margin-left: 10px;
}

/* Contenedor del formulario o del campo */
.form-group {
    position: relative; /* Establece un contexto para el posicionamiento absoluto */
}

/* Estilo de las sugerencias */
.autocomplete-suggestions {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background: #fff;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 5px); /* Justo debajo del campo con un pequeño margen */
    left: 0; /* Alineado con el borde izquierdo del campo */
    width: 100%; /* Coincide exactamente con el ancho del campo de entrada */
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para visibilidad */
    border-radius: 4px; /* Bordes redondeados para un diseño moderno */
    display: none;
}

/* Estilo de cada sugerencia */
.suggestion-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

/* Asegúrate de que el campo de entrada no se vea afectado */
input[name="name"] {
    position: relative;
    z-index: 1;
}

.back-button-container {
    margin-top: 20px; /* Espacio por debajo del header */
    margin-left: 20px; /* Espacio a la izquierda */
    z-index: 10;
}

.btn-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Tamaño del círculo */
    height: 40px; /* Tamaño del círculo */
    background-color: rgb(197, 115, 139);
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* Tamaño de la flecha */
    border-radius: 50%; /* Hace el fondo circular */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-back:hover {
    background-color: #0056b3;
    transform: scale(1.1); /* Efecto al pasar el ratón */
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        height: 100px; /* Reduce height for mobile */
    }

    .header-content h1 {
        font-size: 2.2rem;
    }

    .header-content p {
        font-size: 1rem;
    }

    .logo-container {
        display: none;
    }

    .logo {
        width: 150px; /* Reduce logo size for mobile */
    }

    .footer {
        position: static; /* Cambia el footer a posición normal */
        font-size: 0.9rem; /* Adjust footer font size */
        padding: 5px; /* Adjust padding */
    }

    .new-trip-form {
        padding: 15px; /* Reduce el padding para móviles */
        width: 80%; /* Ancho reducido para pantallas pequeñas */
    }

    .new-trip-form input,
    .new-trip-form textarea,
    .new-trip-form select {
        font-size: 14px; /* Ajusta el tamaño del texto */
    }

    .new-trip-form button[type="submit"] {
        font-size: 14px; /* Tamaño del botón más pequeño */
        padding: 8px 12px; /* Menor padding */
    }

    .new-trip-form textarea[name="description"] {
        width: 90%; /* Ajusta el ancho al 80% del formulario */
        max-width: 500px; /* Establece un ancho máximo */
        height: 100px; /* Reduce la altura */
        resize: vertical; /* Permite solo redimensionar verticalmente */
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        border: 1px solid #ddd;
    }

    .upload-images{
        width: 90%;
    }

    .pop-up {
        width: 90%; /* Ajusta al ancho de la pantalla */
    }

    .trip-header h2 {
        font-size: 1.5rem;
    }

    .trip-header .fecha {
        font-size: 0.9rem;
    }

    .description h3,
    .photos h3 {
        font-size: 1.2rem;
    }
}