* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Ocupa al menos el 100% del alto de la pantalla */
    display: flex;
    flex-direction: column; /* Permite organizar header, main y footer en una columna */
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 190, 207, 0.55);
    min-height: calc(100vh - 160px);
    overflow: hidden;
}

.main-content{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
}

.header {
    background-color: rgb(197, 115, 139);
    color: rgb(164, 0, 55);
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 2rem;
}

.header-content p {
    font-size: 1.2rem;
}

.logo-container {
    position: absolute;
    top: 0px;
    left: 20px;
}
    
.logo {
    width: 150px;
    height: auto;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.footer p {
    font-size: 1rem;
    margin: 0;
}

.new-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.new-form .form-group {
    margin-bottom: 15px;
}

.new-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.new-form input,
.new-form textarea,
.new-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.new-form input:focus,
.new-form textarea:focus,
.new-form select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

/* Botón principal con colores rosados */
.new-form button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 15px;
    background-color: #C71585;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efecto hover para el botón */
.new-form button:hover {
    background-color: #ff85c1; /* Rosa más claro */
    transform: scale(1.05); /* Pequeño zoom al pasar el ratón */
}

/* Botón deshabilitado */
.new-form button:disabled {
    background-color: #f8bbd0; /* Rosa pálido */
    cursor: not-allowed;
}

/* Sutil sombreado para resaltar el botón */
.new-form button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Placeholder Styling */
.new-form input::placeholder,
.new-form textarea::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Pop-up */
.pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: none; /* Oculto por defecto */
    z-index: 1000;
    text-align: center;
    animation: fade-in 0.5s ease-in-out;
}

.pop-up.success {
    border: 2px solid #ff35c6; /* Verde para éxito */
}

.pop-up.error {
    border: 2px solid #dc3545; /* Rojo para error */
}

.pop-up button {
    background-color: #c71585;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

/* Contenedor de la pestaña */
.uploadProgressContainer {
    position: fixed;
    bottom: 40px;
    right: 10px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #f8f9fa; /* Fondo claro */
    border: 1px solid #dee2e6; /* Borde gris */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
    z-index: 1000;
    display: none; /* Oculto por defecto */
}

/* Encabezado de la pestaña */
.uploadProgressContainer:before {
    content: "Subiendo archivos...";
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #495057;
}

/* Contenedor de cada archivo */
.progress-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Información del archivo (nombre) */
.file-info {
    flex: 1;
    font-size: 12px;
    color: #343a40;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 10px;
}

/* Barra de progreso */
.progress-bar {
    flex: 2;
    background-color: #e9ecef;
    height: 8px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.progress-bar span {
    display: block;
    height: 100%;
    background-color: #17a2b8; /* Azul claro */
    width: 0%;
    transition: width 0.3s ease;
}

/* Iconos de estado */
.success-icon {
    color: #28a745; /* Verde */
    font-size: 14px;
    margin-left: 10px;
}

.error-icon {
    color: #dc3545; /* Rojo */
    font-size: 14px;
    margin-left: 10px;
}

/* Contenedor del formulario o del campo */
.form-group {
    position: relative; /* Establece un contexto para el posicionamiento absoluto */
}

/* Estilo de las sugerencias */
.autocomplete-suggestions {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    background: #fff;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: calc(100% + 5px); /* Justo debajo del campo con un pequeño margen */
    left: 0; /* Alineado con el borde izquierdo del campo */
    width: 100%; /* Coincide exactamente con el ancho del campo de entrada */
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para visibilidad */
    border-radius: 4px; /* Bordes redondeados para un diseño moderno */
    display: none;
}

/* Estilo de cada sugerencia */
.suggestion-item {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

/* Asegúrate de que el campo de entrada no se vea afectado */
input[name="name"] {
    position: relative;
    z-index: 1;
}

.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0a4b4; /* Fondo rosado suave */
    padding: 10px 20px;
    border-bottom: 2px solid #e0a4b4; /* Línea de separación */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.back-button-container a.btn-back {
    text-decoration: none;
    font-size: 1.2rem;
    color: #d9457e; /* Color rosado más intenso */
    font-weight: bold;
    transition: color 0.3s ease;
}

.back-button-container a.btn-back:hover {
    color: #a83261; /* Color más oscuro en hover */
}

.add-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Espaciado entre los botones */
    flex: 1; /* Ocupa el espacio disponible */
}

.add-button-container a.btn-add button {
    background-color: #d9457e; /* Color del botón */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-button-container a.btn-add button:hover {
    background-color: #a83261; /* Color más oscuro al hover */
    transform: scale(1.05); /* Efecto de zoom */
}

.add-button-container a.btn-add button:active {
    transform: scale(0.95); /* Efecto de clic */
}

.modal-header {
    position: absolute;
    top: 0px; /* Separación de la barra del borde superior */
    right: 0px; /* Mantén algo de separación con el borde derecho */
    display: flex;
    gap: 35px; /* Mayor separación entre los botones */
    padding: 15px;
    border-bottom-left-radius: 10px; /* Esquina redondeada inferior izquierda */
    z-index: 2;
}

.modal-header button {
    background-color: #444; /* Color discreto */
    color: white;
    border: none;
    width: 40px; /* Tamaño fijo para botones más uniformes */
    height: 40px; /* Tamaño fijo para botones más uniformes */
    border-radius: 50%; /* Botones redondos */
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el ícono dentro del botón */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    transform: translate(-10px, 5px); /* Ajusta las coordenadas X e Y */
}

.modal-header button:hover {
    background-color: #666; /* Color al pasar el cursor */
    transform: scale(1.1); /* Efecto de zoom al pasar el cursor */
}

.modal-header i {
    margin: 0; /* Asegura que no haya margen en los íconos */
    font-size: 18px; /* Tamaño del ícono */
}

.modal-header .close {
    font-size: 35px;
    position: relative;
    bottom: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.modal-header .close:hover {
    transform: scale(1.2);
}

/* Asegurarse de que la imagen no se vea detrás de la barra */
.modal-content {
    max-width: 90%;
    max-height: 80vh;
    object-fit: contain;
    margin-top: 60px; /* Evitar que la imagen quede oculta bajo la barra */
}

/* Modal */
.photo-modal {
    display: none; /* Ocultar por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro translúcido */
    justify-content: center;
    align-items: center;
}

.photo-modal.active {
    display: flex; /* Mostrar cuando esté activo */
}

.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 1100;
    user-select: none;
    transition: background-color 0.3s;
}

.nav-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.modal-content {
    max-width: 90%; /* Ajusta el tamaño máximo de la imagen */
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    object-fit: contain;
}

.details {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Botones de acción */
.action-buttons {
    display: flex;
    justify-content: space-between; /* Espaciado entre botones */
    margin-bottom: 15px;
}

.action-buttons a.btn-edit,
.action-buttons form .btn-delete {
    display: inline-block; /* Ambos botones serán tratados como bloques en línea */
    padding: 12px 20px; /* Espaciado uniforme */
    font-size: 16px; /* Mismo tamaño de fuente */
    font-family: inherit; /* Usar la misma fuente del entorno */
    color: white;
    background-color: #4CAF50; /* Verde para editar */
    text-align: center; /* Centrado del texto */
    text-decoration: none; /* Quitar subrayado del enlace */
    border: none; /* Quitar borde en ambos */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    box-sizing: border-box; /* Incluye padding en el tamaño total */
    min-width: 100px; /* Asegura un ancho mínimo */
    height: 50px; /* Altura fija */
    line-height: 1; /* Controla el alto de la línea del texto */
}

.action-buttons a.btn-edit,
.action-buttons form .btn-delete {
    width: auto; /* Asegura que ambos elementos no tomen un ancho inesperado */
    height: auto; /* Permite ajustar automáticamente el alto */
    line-height: 1.5; /* Uniforma la alineación del texto */
}

/* Especificidad para diferenciar colores */
.action-buttons form .btn-delete {
    background-color: #f44336; /* Rojo para eliminar */
}

.action-buttons a.btn-edit:hover,
.action-buttons form .btn-delete:hover {
    opacity: 0.9; /* Ligera opacidad al pasar el mouse */
}

/* Mantener ambos botones alineados verticalmente */
.action-buttons a.btn-edit,
.action-buttons form .btn-delete {
    line-height: 1.5; /* Asegura que ambos textos se alineen igual */
}

.details-header {
    text-align: center;
    margin-bottom: 20px;
}

.details-header h2 {
    font-size: 2rem;
    color: #333;
}

.details-header .date {
    font-size: 1rem;
    color: #777;
    margin-top: 5px;
}

/* Estilo general para las secciones de detalles */
.details section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Estilo de párrafos e información textual */
.details section p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin: 10px;
}

/* Estilo para listas */
.details section ul {
    list-style: none;
    padding-left: 0;
}

.details section ul li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

.details section ul li strong {
    color: #333;
}

/* Estilo para íconos, si se incluyen */
.details section li i {
    margin-left: 5px;
}

.details section li i.fas.fa-check-circle {
    color: green;
}

.details section li i.fas.fa-times-circle {
    color: red;
}

/* Estilo para imágenes */
.details section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.details section img + p {
    color: #888;
    font-size: 1rem;
    margin-top: 10px;
}

.item-image-preview {
    max-width: 300px;
    max-height: 300px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.details section p.updated-at {
    font-style: italic;
    color: #777;
}

.category-item-list{
    transform: translateY(-5%);
}

/* Título de categoría */
.category-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #3a3a3a;
    margin: 30px auto;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 15px;
    border-bottom: 3px solid #d9457e;
    max-width: 900px;
}

/* Lista de productos */
.product-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 900px;
    margin: 0 auto;
}

/* Elementos de la lista */
.product-item {
    background-color: #ffffff;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.product-item:hover {
    transform: translateY(-5px); /* Levantamos el elemento cuando pasa el mouse */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15); /* Más sombra para resaltar el hover */
}

/* Enlace del producto */
.product-link {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: inherit;
}

.product-link:hover .product-name {
    color: #d9457e;
}

/* Información del producto */
.product-info {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333333;
    margin: 0;
    transition: color 0.3s ease;
}

.product-brand {
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    margin: 5px 0 0;
}

/* Flecha de dirección */
.product-arrow {
    font-size: 2rem;
    color: #d9457e;
    transition: transform 0.3s ease;
    margin-left: 10px;
}

/* Hover en la flecha */
.product-item:hover .product-arrow {
    transform: translateX(5px);
}

/* Texto cuando no hay ítems */
.no-items {
    text-align: center;
    color: #777;
    font-style: italic;
    font-size: 1.1rem;
    margin-top: 20px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        height: 100px; /* Reduce height for mobile */
    }

    .header-content h1 {
        font-size: 1.2rem;
    }

    .header-content p {
        font-size: 1rem;
    }

    .logo-container {
        display: none;
    }

    .logo {
        width: 150px; /* Reduce logo size for mobile */
    }

    .footer {
        position: static; /* Cambia el footer a posición normal */
        font-size: 0.9rem; /* Adjust footer font size */
        padding: 5px; /* Adjust padding */
    }

    .new-form {
        padding: 15px; /* Reduce el padding para móviles */
        width: 80%; /* Ancho reducido para pantallas pequeñas */
    }

    .new-form input,
    .new-form textarea,
    .new-form select {
        font-size: 14px; /* Ajusta el tamaño del texto */
    }

    .new-form button[type="submit"] {
        font-size: 14px; /* Tamaño del botón más pequeño */
        padding: 8px 12px; /* Menor padding */
    }

    .new-form textarea[name="description"] {
        width: 90%; /* Ajusta el ancho al 80% del formulario */
        max-width: 500px; /* Establece un ancho máximo */
        height: 100px; /* Reduce la altura */
        resize: vertical; /* Permite solo redimensionar verticalmente */
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        border: 1px solid #ddd;
    }

    .upload-images{
        width: 90%;
    }

    .pop-up {
        width: 90%; /* Ajusta al ancho de la pantalla */
    }

    .trip-header h2 {
        font-size: 1.5rem;
    }

    .trip-header .fecha {
        font-size: 0.9rem;
    }

    .description h3,
    .photos h3 {
        font-size: 1.2rem;
    }

    .nav-arrow {
        display: none;
    }

    .product-item {
        padding: 15px;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px;
    }

    .product-arrow {
        font-size: 1.5rem;
    }

    .product-name {
        font-size: 1.2rem;
    }

    .product-brand {
        font-size: 0.9rem;
    }
}