.home-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-menu {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    max-width: 100%;
    margin: auto;
    transform: translateY(-100px);
}

.home-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
    list-style: none;
}

.home-menu-item {
    text-decoration: none;
    font-size: 1.2rem;
    color: #C71585;
    font-weight: bold;
    padding: 15px 12px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.home-menu-item:hover {
    background-color: #C71585;
    color: white;
}

/* Responsiveness */
@media (max-width: 768px) {
    .home-menu {
        flex-direction: column; /* Align items vertically on smaller screens */
        gap: 30px; /* Reduce the gap between items */
        padding: 20px; /* Reduce padding */
    }

    .home-menu ul {
        flex-direction: column; /* Stack the menu items vertically */
        gap: 20px; /* Reduce the gap between items */
    }

    .home-menu-item {
        font-size: 1rem; /* Adjust font size for mobile */
        padding: 10px 15px; /* Adjust padding */
    }
    
    .home-menu-item:hover {
        background-color: #C71585;
        color: white;
    }
}