<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Añadir sitio{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="icon" href="{% static 'images/Lucier.ico' %}" type="image/x-icon">

    <script src="{% static 'js/addPhotos.js' %}" defer></script>
</head>
<body>
  <header class="header">
      <div class="logo-container">
          <a href="{% url 'core:home_page' %}">
            <img src="{% static 'images/Lucier.png' %}" alt="Logo Lucier" class="logo">
          </a>
      </div>
      <div class="header-content">
          <h1>Añadir fotos del viaje</h1>
      </div>
  </header>

  <div class="main-container">
    <div class="back-button-container">
      <a href="{% url 'trips:trip_details_page' pk=trip.pk %}" class="btn-back" aria-label="Volver a la lista de sitios">&#8592;</a>
    </div>
    <main class="main-content">
      <form method="post" enctype="multipart/form-data" id="dataForm" class="new-trip-form">
        {% csrf_token %}
        <input type="file" name="images" id="images" class="upload-images" accept=".png, .jpg, .jpeg, .gif, .bmp, .tiff, .heic" multiple>
        <button type="submit" id="uploadButton">Guardar fotos</button>
      </form>

      <div id="uploadProgressContainer" class="uploadProgressContainer"></div>
    </main>
  </div>

  <div class="pop-up" id="popup">
    <p id="popupMessage"></p>
    <button onclick="closePopup()">Cerrar</button>
  </div>

  <footer class="footer">
    <p>&copy; 2024 Lucier <span style="color: #C71585;">❤</span></p>
  </footer>
</body>