<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Añadir sitio{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="icon" href="{% static 'images/Lucier.ico' %}" type="image/x-icon">

    <script src="{% static 'js/addTrip.js' %}" defer></script>
</head>
<body>
  <header class="header">
      <div class="logo-container">
          <a href="{% url 'core:home_page' %}">
            <img src="{% static 'images/Lucier.png' %}" alt="Logo Lucier" class="logo">
          </a>
      </div>
      <div class="header-content">
          <h1>Añadir un sitio nuevo</h1>
      </div>
  </header>
  <div class="main-container">
    <div class="back-button-container">
      <a href="{% url 'trips:trips_page' %}" class="btn-back" aria-label="Volver a la lista de sitios">&#8592;</a>
    </div>
    <main class="main-content">
      <form method="post" id="dataForm" class="new-trip-form">
        {% csrf_token %}
            <!-- Campo de Nombre -->
        <div class="form-group">
          <label for="destiny">Destino</label>
          <input type="text" id="destiny" name="destiny" class="form-control" placeholder="Escribe el nombre" required>
          <ul id="autocompleteSuggestions" class="autocomplete-suggestions"></ul>
        </div>
        
        <!-- Campo de Descripción -->
        <div class="form-group">
            <label for="description">Descripción</label>
            <textarea id="description" name="description" class="form-control" placeholder="Escribe una descripción"></textarea>
        </div>
        
        <!-- Campo de Fecha de Inicio -->
        <div class="form-group">
            <label for="start_date">Fecha de inicio</label>
            <input type="date" id="start_date" name="start_date" class="form-control" required>
        </div>
        
        <!-- Campo de Fecha de Fin -->
        <div class="form-group">
            <label for="end_date">Fecha de fin</label>
            <input type="date" id="end_date" name="end_date" class="form-control" required>
        </div>
        
        <!-- Campo de Latitud -->
        <div class="form-group">
            <label for="latitude">Latitud</label>
            <input type="text" id="latitude" name="latitude" class="form-control" readonly>
        </div>
        
        <!-- Campo de Longitud -->
        <div class="form-group">
            <label for="longitude">Longitud</label>
            <input type="text" id="longitude" name="longitude" class="form-control" readonly>
        </div>
        
        <!-- Botón de Envío -->
        <button type="submit" onclick="handleSubmit(event)">Guardar</button>
      </form>
    </main>
  </div>

  <div class="pop-up" id="popup">
    <p id="popupMessage"></p>
    <button onclick="closePopup()">Cerrar</button>
  </div>

  <footer class="footer">
    <p>&copy; 2024 Lucier <span style="color: #C71585;">❤</span></p>
  </footer>
</body>
  
