<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Viajes{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/trips/trips_page.css' %}">
    <link rel="icon" href="{% static 'images/Lucier.ico' %}" type="image/x-icon">
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <script>
        const geojsonUrl = "{% url 'trips:trips_geojson' %}";
    </script>
    <script src="{% static 'js/trips/trips_page.js' %}" defer></script>
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="{% url 'core:home_page' %}">
                <img src="{% static 'images/Lucier.png' %}" alt="Logo Lucier" class="logo">
            </a>
        </div>
        <div class="header-content">
            <h1>Viajes</h1>
            <p>Aquí puedes ver todos los viajes que hemos hecho y añadir los nuevos que hagamos.</p>
        </div>
    </header>
    <div class="header-bar">
        <div class="back-button-container">
            <a href="{% url 'core:home_page' %}" class="btn-back" aria-label="Volver a la lista de sitios">&#8592;</a>
        </div>
        <div class="add-buttons-container">
            <div id="add-button-container" class="add-button-container">
                <a href="{% url 'trips:new_trip' %}" class="btn-add">
                    <button type="button">Añadir nuevo viaje</button>
                </a>
            </div>
        </div>
    </div>
    <div class="main-container">
        <main class="main-content">       
            <div class="trips-container-wrapper">
                <button id="left" class="scroll-btn left">&#8592;</button>
                <div class="trips-container">
                    {% for trip in trips %}
                    <div class="trip-card">
                        <a href="{% url 'trips:trip_details_page' pk=trip.pk %}">
                            <h2>{{ trip.destiny }}</h2>
                            <p>{{ trip.description }}</p>
                            <p><strong>Fechas:</strong> {{ trip.start_date|date:"j F Y" }} al {{ trip.end_date|date:"j F Y" }}</p>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <button id="right" class="scroll-btn right">&#8594;</button>
            </div>

            <div class="map-container">
                <div id="map"></div>
            </div>
        </main>
    </div>

    <footer class="footer">
        <p>&copy; 2024 Lucier <span style="color: #C71585;">❤</span></p>
    </footer>
</body>
</html>