<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Detalles del Sitio{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/trip_details_page.css' %}">
    <link rel="icon" href="{% static 'images/Lucier.ico' %}" type="image/x-icon">

    <script src="{% static 'js/gallery.js' %}" defer></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <a href="{% url 'core:home_page' %}">
                <img src="{% static 'images/Lucier.png' %}" alt="Logo Lucier" class="logo">
            </a>
        </div>
        <div class="header-content">
            <h1>Detalles del sitio</h1>
        </div>
    </header>
    <div class="main-container">
        <div class="back-button-container">
            <a href="{% url 'trips:trips_page' %}" class="btn-back" aria-label="Volver a la lista de sitios">&#8592;</a>
        </div>
        <main class="main-content">
            <div class="trip-details">
                <header class="trip-header">
                    <div class="action-buttons">
                        <a href="{% url 'trips:edit_trip' trip.pk %}" class="btn-edit"><i class="fas fa-pencil-alt"></i></a>
                        <form action="{% url 'trips:delete_trip' trip.pk %}" method="post" class="btn-delete-form">
                            {% csrf_token %}
                            <button type="submit" class="btn-delete" onclick="return confirm('¿Estás seguro de que deseas eliminar este sitio?')"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                    <h2>{{ trip.destiny }}</h2>
                    <p class="date">
                        <strong>Fecha:</strong> 
                        {{ trip.start_date|date:"d M Y" }} - {{ trip.end_date|date:"d M Y" }}
                    </p>
                </header>
        
                <section class="description">
                    <h3>Descripción</h3>
                    <p>{{ trip.description }}</p>
                </section>
        
                <section class="photos">
                    <h3>Fotos del Viaje</h3>
                    {% if trip.photos.all %}
                        <div class="photos-gallery">
                            {% for photo in trip.photos.all %}
                                <div class="photo-card">
                                    <img src="/media/{{ photo.image }}" alt="Foto de {{ trip.destiny }}" class="trip-photo" onclick="openModal('/media/{{ photo.image }}', '{{ forloop.counter0 }}', '{{photo.id}}')">
                                </div>
                            {% endfor %}
                        </div>
                        <div id="photo-modal" class="photo-modal">
                            <div class="modal-header">
                                <button class="btn-download" onclick="downloadImage()"><i class="fas fa-download"></i></button>
                                <button class="btn-delete" onclick="deleteImage('{{ trip.pk }}', '{{ photo.id }}')"><i class="fas fa-trash-alt"></i></button>
                                <span class="close" onclick="closeModal()">&times;</span>
                            </div>
                            <span class="nav-arrow left-arrow" onclick="navigateModal(-1)">&#10094;</span> <!-- Flecha izquierda -->
                            <span class="nav-arrow right-arrow" onclick="navigateModal(1)">&#10095;</span> <!-- Flecha derecha -->
                            <img class="modal-content" id="modal-image">
                        </div>

                        <div class="pop-up" id="popup">
                            <p id="popupMessage"></p>
                            <button onclick="closePopup('{{trip.pk}}')">Cerrar</button>
                        </div>
        
                        <div class="add-photo-container">
                            <a href="{% url 'trips:add_trip_photos' pk=trip.pk %}" class="btn-add-photo">
                                <button type="button">Añadir Foto</button>
                            </a>
                        </div>
                    {% else %}
                        <p>No hay fotos disponibles.</p>
                        <div class="add-photo-container">
                            <a href="{% url 'trips:add_trip_photos' pk=trip.pk %}" class="btn-add-photo">
                                <button type="button">Añadir Foto</button>
                            </a>
                        </div>
                    {% endif %}
                </section>
            </div>
        </main>
    </div>
    <footer class="footer">
        <p>&copy; 2024 Lucier <span style="color: #C71585;">❤</span></p>
    </footer>
</body>
</html>